@import "type.less";
@import "screens.less";
@import "measurements.less";

@pallette-box-shadow-base:                        5px;
@pallette-box-shadow-tiny:                        2px;
@pallette-box-shadow-small:                       3px;
@pallette-box-shadow-large:                       10px;
@pallette-box-shadow-huge:                        20px;

@pallette-brand-primary-color:                    #167ac6;
@pallette-brand-secondary-color:                  darken(@pallette-brand-primary-color, 20%);
@pallette-brand-accent-color:                     #ff6000;
@pallette-brand-success-color:                    @pallette-brand-primary-color;
@pallette-brand-info-color:                       #66aa00;
@pallette-brand-warning-color:                    #dd4b38;
@pallette-brand-danger-color:                     #dd0000;

@pallette-body-bg-color:                          #fff;
@pallette-body-login-bg-color:                    #f4f4f4;
@pallette-body-font-color:                        #333;
@pallette-body-link-color:                        @pallette-brand-secondary-color;
@pallette-body-separator-color:                   darken(@pallette-body-bg-color, 10%);

@pallette-input-bg-color:                         #fff;
@pallette-input-color:                            #333;
@pallette-input-border-color:                     #ddd;
@pallette-input-focus-color:                      lighten(@brand-primary,2%);
@pallette-input-color-placeholder:                lighten(@pallette-input-color, 50%);

@pallette-table-bg-color:                         @pallette-body-bg-color;
@pallette-panel-bg-color:                         @pallette-body-bg-color;

@pallette-border-color:                           @pallette-body-separator-color;
@pallette-border-hover-color:                     darken(@pallette-border-color, 25%);

@pallette-link-color:                             @pallette-body-font-color;
@pallette-link-hover-color:                       @pallette-link-color;
@pallette-link-decoration:                        none;
@pallette-link-hover-decoration:                  underline;

// Main menu.
@pallette-navbar-bg-color:                        @pallette-body-bg-color;
@pallette-navbar-font-color:                      @pallette-body-font-color;
@pallette-navbar-link-color:                      @pallette-navbar-font-color;
@pallette-navbar-link-hover-color:                @pallette-navbar-link-color;
@pallette-navbar-link-hover-bg:                   transparent;
@pallette-navbar-link-active-color:               #fff;
@pallette-navbar-link-active-bg:                  @pallette-brand-accent-color;
@pallette-navbar-icon-color:                      @pallette-navbar-link-active-bg;
@pallette-navbar-icon-active-color:               @pallette-navbar-link-active-color;

// Toolbar.
@pallette-toolbar-bg-color:                       #e6e6e6;
@pallette-toolbar-color:                          @pallette-body-font-color;

// Sidebar.
@pallette-sidebar-width:                          250px;
@pallette-sidebar-bg-color:                       @pallette-toolbar-bg-color;
@pallette-sidebar-color:                          @pallette-toolbar-color;
@pallette-sidebar-title-bg-color:                 transparent;
@pallette-sidebar-title-color:                    inherit;
@pallette-sidebar-item-height:                    (1.5 * @pallette-gutter-width);
@pallette-sidebar-item-bg-color:                  transparent;
@pallette-sidebar-item-color:                     @pallette-body-font-color;
@pallette-sidebar-active-item-color:              #ff6000;
@pallette-sidebar-active-item-bg-color:           @pallette-body-bg-color;
@pallette-sidebar-arrow-width:                    (0.75 * @pallette-gutter-width);
@pallette-sidebar-dragged-bg-color:               @pallette-body-bg-color;
@pallette-sidebar-notification-size:              16px;
@pallette-sidebar-notification-bg-color:          @pallette-brand-primary-color;
@pallette-sidebar-notification-color:             #fff;

// Popovers.
@pallette-popover-bg-color:                       #fff;
@pallette-popover-color:                          #333;
@pallette-popover-border-color:                   rgba(0,0,0,.05);
@pallette-popover-fallback-border-color:          #ddd;
@pallette-popover-title-bg:                       transparent;
@pallette-popover-corner-arrow-spacing:           50px;

// Header.
@pallette-header-bg-color:                        @pallette-body-bg-color;
@pallette-header-color:                           @pallette-body-font-color;
@pallette-header-padding:                         @pallette-spacing-medium;
@pallette-header-logo-height:                     30px;
@pallette-header-logo-width:                      100px;
@pallette-header-height:                          40px;
@pallette-header-toggle-size:                     24px;

// Search box.
@pallette-search-box-bg-color:                    @pallette-body-bg-color;
@pallette-search-box-color:                       @pallette-body-font-color;
@pallette-search-box-border:                      @pallette-body-separator-color;
@pallette-search-box-active-border:               #4d90fe;
@pallette-search-box-height:                      26px;
@pallette-search-box-width-sm:                    240px;
@pallette-search-box-width-md:                    420px;
@pallette-search-box-width-lg:                    500px;
@pallette-search-box-width-wd:                    600px;
@pallette-search-box-max-width:                   800px;
@pallette-search-box-filter-bg-color:             lighten(@pallette-brand-primary-color, 50%);
@pallette-search-box-filter-color:                inherit;
@pallette-search-box-filter-border-color:         @pallette-search-box-filter-bg-color;
@pallette-search-box-filter-font-color:           @pallette-body-font-color;
@pallette-search-box-inverted-bg-color:           @pallette-brand-warning-color;
@pallette-search-box-inverted-border-color:       @pallette-search-box-filter-border-color;
@pallette-search-box-inverted-font-color:         @pallette-body-bg-color;
@pallette-search-box-filter-active-bg-color:      @pallette-brand-primary-color;
@pallette-search-box-filter-active-color:         @pallette-body-bg-color;

// Colorbar.
@pallette-colorbar-thickness:                     7px;    // Better keep it odd
@pallette-colorbar-bg-color:                      @pallette-body-separator-color;
@pallette-colorbar-num-base:                      @pallette-body-bg-color;
@pallette-colorbar-num-1:                         #555;
@pallette-colorbar-num-2:                         #c065ed;
@pallette-colorbar-num-3:                         #44cd2d;
@pallette-colorbar-num-4:                         #167AC6;
@pallette-colorbar-num-5:                         #dd4b38;

// Icon buttons.
@pallette-button-icon-border:                     @pallette-brand-primary-color;
@pallette-button-icon-padding:                    3px;
@pallette-button-icon-circular-padding:           6px;

// Listing.
@pallette-list-match-bg-color:                    lighten(@pallette-brand-primary-color, 50%);
@pallette-list-match-color:                       inherit;
@pallette-list-item-bg-color:                     @pallette-body-bg-color;
@pallette-list-item-color:                        @pallette-body-font-color;
@pallette-list-item-sub-color:                    @gray;
@pallette-list-header-bg-color:                   @pallette-body-bg-color;
@pallette-list-header-color:                      @pallette-brand-warning-color;
@pallette-list-active-item-bg-color:              transparent;
@pallette-list-active-item-color:                 @gray;
@pallette-list-checked-item-bg-color:             #dcebf5;
@pallette-list-checked-item-color:                @pallette-list-item-color;
@pallette-list-checkbox-bg-color:                 @pallette-body-bg-color;
@pallette-list-checkbox-color:                    @pallette-body-font-color;
@pallette-list-active-checkbox-bg-color:          @pallette-body-bg-color;
@pallette-list-active-checkbox-color:             #ff6000;
@pallette-list-hover-bg-color:                    transparent;
@pallette-list-item-img-bg-color:                 @pallette-body-separator-color;
@pallette-list-tools-bg-color:                    @pallette-list-header-bg-color;
@pallette-list-tools-color:                       @pallette-body-font-color;

// Timeline bar.
@pallette-timeline-width:                         100px;
@pallette-timeline-thickness:                     1px;
@pallette-timeline-tick-width:                    20px;
@pallette-timeline-tick-height:                   @pallette-timeline-thickness;
@pallette-timeline-articles-tick-width:           10px;
@pallette-timeline-articles-tick-height:          @pallette-timeline-tick-height;
@pallette-timeline-tick-pointer:                  5px;
@pallette-timeline-bg-color:                      transparent;
@pallette-timeline-color:                         @pallette-body-separator-color;
@pallette-timeline-text-color:                    @pallette-list-item-sub-color;
@pallette-timeline-tick-color:                    @pallette-brand-primary-color;
@pallette-timeline-pointer-color:                 @pallette-brand-warning-color;

// Preview panel.
@pallette-preview-bg-color:                       @pallette-body-bg-color;
@pallette-preview-color:                          @pallette-body-font-color;

// Tags: Unselected.
@pallette-tag-bg-color:                           darken(@pallette-body-bg-color, 5%);
@pallette-tag-color:                              inherit;
@pallette-tag-hole-color:                         @pallette-body-bg-color;

// Tags: Keyword
@pallette-tag-keyword-positive-bg-color:          @gray;
@pallette-tag-keyword-positive-color:             #fff;

// Tags: Mentometer
@pallette-tag-mentometer-positive-bg-color:       @pallette-brand-info-color;
@pallette-tag-mentometer-positive-weight-color:   darken(@pallette-tag-mentometer-positive-bg-color, 5%);
@pallette-tag-mentometer-positive-color:          #fff;
@pallette-tag-mentometer-negative-bg-color:       @pallette-brand-danger-color;
@pallette-tag-mentometer-negative-weight-color:   darken(@pallette-tag-mentometer-negative-bg-color, 5%);
@pallette-tag-mentometer-negative-color:          #fff;
@pallette-tag-mentometer-neutral-bg-color:        @pallette-tag-keyword-positive-bg-color;
@pallette-tag-mentometer-neutral-weight-color:    darken(@pallette-tag-mentometer-neutral-bg-color, 5%);
@pallette-tag-mentometer-neutral-color:           @pallette-tag-keyword-positive-color;
