@pallette-grid-columns:                       20;
@pallette-gutter-width:                       20px;
@pallette-navbar-height:                      26px;
@pallette-header-height:                      48px;
@pallette-toolbar-height:                     (2 * @pallette-gutter-width);
@pallette-thumbnail-size:                     72px;
@pallette-thumbnail-small-size:               54px;

@pallette-checkbox-size:                      @grid-gutter-width;
@pallette-checkbox-small-size:                round((@pallette-checkbox-size * 0.8));
@pallette-checkbox-large-size:                round((@pallette-checkbox-size * 1.5));

@pallette-popover-max-width:                  100%;
@pallette-popover-arrow-width:                @pallette-font-size-small;
@pallette-popover-border-radius:              @border-radius-large;

@pallette-spacing-tiny:                       3px;
@pallette-spacing-small:                      (@grid-gutter-width / 4);
@pallette-spacing-medium:                     (@grid-gutter-width / 2);
@pallette-spacing-large:                      @grid-gutter-width;
@pallette-spacing-component:                  @pallette-spacing-small;
