// Phone screen (iPhone 4)
@pallette-screen-phone-width:                 320px;

// Small screen / Portrait Tablet
@pallette-screen-small-width:                 768px;

// Medium screen / Landscape Tablet / Desktop
@pallette-screen-medium-width:                1024px;

// Large screen / Wide Desktop
@pallette-screen-large-width:                 1280px;
