@pallette-font-size-base:                     14px;
@pallette-font-size-small:                    ceil((@pallette-font-size-base * 0.85714));
@pallette-font-size-smaller:                  ceil((@pallette-font-size-base * 0.71428));
@pallette-font-size-tiny:                     ceil((@pallette-font-size-base * 0.64285));
@pallette-font-size-large:                    ceil((@pallette-font-size-base * 1.14285));
@pallette-font-size-larger:                   ceil((@pallette-font-size-base * 1.28571));
@pallette-font-size-huge:                     ceil((@pallette-font-size-base * 1.42857));

@pallette-font-size-h1:                       floor((@font-size-base * 2.15)); // ~30px
@pallette-font-size-h2:                       ceil((@font-size-base * 1.7)); // ~24px
@pallette-font-size-h3:                       ceil((@font-size-base * 1.25)); // ~18px
@pallette-font-size-h4:                       @font-size-base;
@pallette-font-size-h5:                       ceil((@font-size-base * 0.85)); // ~12px
@pallette-font-size-h6:                       ceil((@font-size-base * 0.72)); // ~10px

@pallette-font-family-sans-serif:             sans-serif;
@pallette-font-family-serif:                  serif;
@pallette-font-family-monospace:              monospace;
